<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
     <header>
        <a href="/">Home</a>
         <nav>
<ul> 
      <li>
                    <a href="/articles">Articles</a>
                </li>
               <% if (user) { %>
                <li>
                    <a href="/articles/new">Create Article</a>           
                </li>            
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
               <% }  %>
                <a href="/users/register">Register</a>
                <a href="/users/login">Login</a>
          
            </ul>
        </nav> 
    
    <form action="/articles" method="POST">
        <input type="text" name="title" placeholder="Enter Title"/>
        <textarea name="description" cols="30" rows="10" >Description</textarea>
        <!-- <input type="text" name="author" placeholder="add author" /> -->
        <input type="submit" value="Create Articles"/>
    </form>
</body>
</html>

