<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    <h1>Welcome to Blog App</h1>
    <p>Where you can add delete and edit your blogs</p>
    <a href="/articles">Articles Dashboard</a>
    <a href="/users">User Authentication</a>
    <a href="/users/register"><button>Register</button></a>
    <a href="/users/login"><button>Login</button></a>
    

  </body>
</html>
