<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>
<body class="home-index">
    <div class="container">
    <header>
        <a href="/">Home</a>
        <nav>
            <ul>
                <% if(!user) {  %>
                    <li>
                        <a href="/users/login">Login</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a>
                    </li>

                <% } %>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Register Here</h1>
        <form action="/users/register" method="POST">
            <label for="firstName">firstName</label>
            <input type="text" name="firstName" placeholder="enter first name"/>
            <label for="lastName">lastName</label>
            <input type="text" name="lastName" placeholder="enter last name"/>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="enter email"/>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="enter password"/>
            <label for="city" >City</label>
            <input type="text" name="city" placeholder="enter your city"/>
            <input type="submit" value="Register"/>
        </form>
    </main>
    
</div>
</body>
</html>

<!-- firstName:{type:String,required:true},
    lastName:{type:String,required:true},
    email:{type:String,unique:true,required:true},
    password -->